<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Swapnil Nimbalkar -portfolio</title>
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.0/css/all.min.css"
	integrity="sha512-DxV+EoADOkOygM4IR9yXP8Sb2qwgidEmeqAEmDKIOfPRQZOWbXCzLC6vjbZyy0vPisbH2SyW27+ddLVCN+OMzQ=="
	crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link
	href="https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap"
	rel="stylesheet">
<link rel="stylesheet" href="/css/style.css">
</head>
<body>

	<!-- Loading animation-->
	<div th:replace="~{fragments/loader ::loader}"></div>

	<!-- header -->
	<div th:replace="~{fragments/header ::site-header}"></div>

	<!-- hero -->
	<div th:replace="~{fragments/hero ::hero-section}"></div>

	<!-- about -->
	<div th:replace="~{fragments/about ::about-section}"></div>

	<!-- project -->
	<div th:replace="~{fragments/project ::project-section}"></div>

	<!-- experience -->
	<div th:replace="~{fragments/experience ::experience-section}"></div>

	<!-- contact -->
	<div th:replace="~{fragments/contact ::contact-section}"></div>

	<!-- footer -->
	<div th:replace="~{fragments/footer ::footer-section}"></div>

	<!-- Custom Script-->
	<script src="/js/script.js"></script>
</body>
</html>