<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="experience-section">

	<section class="section projects" id="projects">
		<div class="container">
			<div class="section-title-container">
				<h2 class="section-title">Experience</h2>
				<p class="section-subtitle">Explore my freelance project</p>
			</div>
			<div class="projects-container">
				<div class="project-card">
					<div class="project-image">
						<img src="/images/college.png" alt="GitHub">
						<div class="project-overlay"></div>
					</div>
					<div class="project-content">
						<h3 class="project-title">College Management System</h3>
						<p class="project-description">Developed a desktop-based
							College Management System with modules for student enrolment,
							teacher records, attendance tracking, exam results, and fee
							management. Integrated MySQL database for data storage and implemented CRUD operations using
							JDBC.</p>
						<div class="project-links">
							<a href="" class="project-link" target="_blank"> <i
								class="fab fa-github"></i> View Code
							</a>
						</div>

					</div>
				</div>
			</div>
		</div>
	</section>
</th:block>
</html>
