<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="project-section">

	<section class="section projects" id="projects">
		<div class="container">
			<div class="section-title-container">
				<h2 class="section-title">My Workspace</h2>
				<p class="section-subtitle">Explore my recent work</p>
			</div>
			<div class="projects-container">
				<div class="project-card">
					<div class="project-image">
						<img src="/images/quiz.png" alt="GitHub">
						<div class="project-overlay"></div>
						<div class="project-tags">
							<span class="project-tag">Java</span> <span class="project-tag">Spring
								Boot</span> <span class="project-tag">JDBC</span> <span
								class="project-tag">MySQL</span>
						</div>
					</div>
					<div class="project-content">
						<h3 class="project-title">Quiz Verse</h3>
						<p class="project-description">Designed and developed a
							full-stack quiz management system enabling users to take dynamic
							quizzes with instant scoring and feedback. Built secure REST APIs
							using Spring Boot and JDBC for quiz logic.</p>
						<div class="project-links">
							<a href="" class="project-link" target="_blank"> <i
								class="fab fa-github"></i> View Code
							</a>
						</div>

					</div>
				</div>

				<div class="project-card">
					<div class="project-image">
						<img src="/images/ecommerce.png" alt="GitHub">
						<div class="project-overlay"></div>
						<div class="project-tags">
							<span class="project-tag">Java</span> <span class="project-tag">Spring
								Boot</span> <span class="project-tag">MySQL</span> <span
								class="project-tag">RestAPI</span>
						</div>
					</div>
					<div class="project-content">
						<h3 class="project-title">E-Commerce Platform Development</h3>
						<p class="project-description">Developed a Spring Boot-powered
							E-Commerce platform, integrating a secure payment gateway.
							Enhanced database performance by optimizing queries and designed
							a responsive UI for a seamless shopping experience.</p>
						<div class="project-links">
							<a href="" class="project-link" target="_blank"> <i
								class="fab fa-github"></i> View Code
							</a>
						</div>

					</div>
				</div>

				<div class="project-card">
					<div class="project-image">
						<img src="/images/helthcare.png" alt="GitHub">
						<div class="project-overlay"></div>
						<div class="project-tags">
							<span class="project-tag">Java</span> <span class="project-tag">Spring
								Boot</span> <span class="project-tag">MySQL</span> <span
								class="project-tag">RestAPI</span>
						</div>
					</div>
					<div class="project-content">
						<h3 class="project-title">Helth Care Booking Appointment
							System</h3>
						<p class="project-description">Developed a full-stack
							healthcare web application enabling users to book real-time
							appointments with secure login and role-based access. Implemented
							RESTful APIs using Spring Boot for appointment scheduling,
							patient management, and availability tracking. Utilized MySQL for
							efficient backend data storage and retrieval with optimized
							queries.</p>
						<div class="project-links">
							<a href="" class="project-link" target="_blank"> <i
								class="fab fa-github"></i> View Code
							</a>
						</div>

					</div>
				</div>
			</div>
		</div>
	</section>

</th:block>
</html>